<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

<!-- Materialize CDN -->
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap" rel="stylesheet">
<!-- Custom Stylesheet -->
<link rel="stylesheet" href="/stylesheets/style.css">

	<title> Burger Menu </title>
</head>

<body>

	{{{ body }}}

			</div>
		</div>
	</footer>
</body>
</html>